<div class="container-fluid h-100 d-flex justify-content-center align-items-center">
    <div class="w-50 h-auto border border-5 border-secondary rounded rounded-3 p-5">
        <h1>Welcome</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eius ratione explicabo error aut perferendis officiis voluptas earum! Rem inventore tenetur eos debitis provident asperiores nostrum, fuga quo consequuntur voluptatem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi eius quas accusamus delectus nesciunt saepe nam assumenda nemo suscipit corrupti in eligendi et repudiandae est, placeat similique ut quos itaque.</p>
        <hr>
        <button nz-button nzType='primary' class="float-right" routerLink='/feature'>Enter your section</button>
    </div>
</div>