<div class="container-fluid p-2">
    <h2>List Student</h2>
    <button routerLink="/students/create" nz-button nzType="primary" class="float-right m-2">Add new student</button>
    <nz-table #sortTable [nzData]="datas">
        <thead>
            <tr>
                <th *ngFor="let column of listOfCols" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">{{ column.title }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of datas">
                <td>{{ data.studentId }}</td>
                <td>{{ data.firstName + " " + data.lastName }}</td>
                <td>{{ data.dayOfBirth }}</td>
                <td>{{ data.universityClass }}</td>
                <td>{{ data.phone }}</td>
                <td>{{ data.email }}</td>
                <td>
                    <button nz-button nzType="primary" class="m-1" [routerLink]="'./edit/' + data.id" (click)="setID(data.id)">Edit</button>
                    <button nz-button nzType="danger" class="m-1" (click)="setID(data.id); showModal();">Delete</button>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <nz-modal
      [(nzVisible)]="isVisible"
      [nzTitle]="modalTitle"
      [nzContent]="modalContent"
      [nzFooter]="modalFooter"
      (nzOnCancel)="handleCancel()"
    >
    <ng-template #modalTitle>Delete student</ng-template>

    <ng-template #modalContent>
        <nz-list nzBordered>
            <nz-list-item *ngFor="let property of studentInfo; let i = index">
              <span nz-typography>{{ studentLabel[i] }}</span>
              {{ studentInfo[i] }}
            </nz-list-item>
          </nz-list>
    </ng-template>

    <ng-template #modalFooter>
      <button nz-button nzType="light" (click)="handleCancel()">Cancel</button>
      <button nz-button nzType="danger" (click)="deleteData()" [nzLoading]="isConfirmLoading">Delete</button>
    </ng-template>
  </nz-modal>
</div>